*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    --clr--dk-blue: #0F79AE;
    --clr-blue: #5EADE6;
    --clr-lt-blue: #D2F5FF;
    --clr-orange: #E69C24;

    --ff-title: 'Merriweather', serif;
    --ff-body: 'Roboto', sans-serif;
}


h1 {
    color: var(--clr--dk-blue);
    font-family: var(--ff-title);
}

.spinner {
    width: fit-content;
    height: fit-content;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;

    /* animation: spin 1s liner infinite; */

}

@keyframes spin {

    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
    
}


.converter {
    display: none;
}




/*  let {baseCurrency, toCurrency, fromAmount} = UICtrl.getInput(); */